database__client: mysql
database__connection__host: db
database__connection__user: root
database__connection__password: example
database__connection__database: ghost

imageOptimization__resize: false

storage__active: object-store
storage__files__adapter: object-store
storage__media__adapter: object-store
storage__object_store__endpoint: http://url.to.object-store.server:9000
storage__object_store__accessKey: objectstoreaccesskey
storage__object_store__secretKey: objectstoresecretkey
storage__object_store__bucket: your-bucket-name
storage__object_store__region: your-region
storage__object_store__useSSL: false
storage__object_store__storagePath: content/media/
storage__object_store__staticFileURLPrefix: content/media/
